body {
    margin: 0;
    padding: 0;
}

#grid-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.grid-square {
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    margin: 0
}

.on-hover {
    background-color: red;
}